/* make the calculator pretty*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
html{
	height: 100%;
	background-color: #fff;
	background: radial-gradient(circle, #fff 20%, #ccc);
}
body{
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
}

#calculator{
	width: 300px;
	background-color: #38BF5E;
	margin: 70px auto;
	text-align: center;
	padding: 10px 5px;
	border-radius: 5px;
	box-shadow: 0px 6px #13401F, 0px 3px 8px rgba(0,0,0,.5)
}
#display {
	margin: 5px 0 10px 0;
	width: 250px;
	height: 50px;
	text-align: right;
	border-radius: 2px;
	background-color: #2D9C4D;
	box-shadow: inset 0px 4px #257F3F;
	padding: 0px 10px;

	/*font for display*/
	font-size: 2rem;
	color: #fff;
}
#keypad button{
	width: 55px;
	height: 40px;
	margin: 6px 5px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 3px #257F3F;

	color: #888;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#clr:hover{
	background-color: #FF4A4A;
	box-shadow: 0px 3px #B21010;
	color: #fff;
}

#keypad button:active{
	box-shadow: 0px 0px #B21010;
	top: 50px;
}
